/**/


body {
    font-family: 'Nunito', sans-serif !important;
}

.header {
    padding-top: 20px;
}

.form {
    border: 1px solid #ccc;
    background: #f4f4f4;
    border-radius: 2px;
    padding: 8px;
}

input[type=range] {
    width: 100%;
    min-width: 280px;
    max-width: 500px;
}

.pubkeys-input-container {
    padding: 4px 0;

    input[type=text] {
        width: 100%;
        min-width: 280px;
        padding: 6px;
    }
}
