
body {
    font-family: 'Nunito', sans-serif !important;
}

.header {
    padding-top: 20px;
}

.form {
    border: 1px solid #ccc;
    background: #f4f4f4;
    border-radius: 2px;
    padding: 22px 8px;
}

input[type=range] {
    width: 100%;
    min-width: 280px;
    max-width: 500px;
}

.input-container {

    input[type=text] {
        min-width: 280px;
        padding: 6px;
    }

    .input-group-text {
        background-color: inherit;
        border: inherit;
        font-size: 0.9rem;
    }
}

.result-container {
    text-align: center;

    .result-qrcode-div {

        .qrcode-img {
            width: 180px;
            margin: 4px;
            border: 1px solid #ddd;
        }
    }

    .result-address {
        margin: 8px;
    }
}
